.rainn--article-card .card__header {
  display: inline-flex;
  gap: 4px;
  background: #d0f349;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 0.8em;
}

.rainn--article-card:hover h2 {
  text-decoration: underline;
}

.rainn--article-card .card__footer {
  opacity: 0.8;
}
